
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpLoad</title>
    <script src="~/Scripts/jquery-1.11.1.js"></script>
    <script src="~/Scripts/jquery-easyui-min.js"></script>
    <script type="text/javascript">
        $(function () {
            if ($("#err").val()) {
                if ($("#err").val() == "-1") {
                    alert('导入成功！');
                    parent.$('#dlg').dialog('close');
                    parent.$('#MemCardInfo').datagrid('reload');
                }else alert($("#err").val());//上传文件后台报错
            }
        });
    </script>
</head>
<body>
    @Html.Hidden("err", (ViewBag.err ?? "") as object)
    @using (Html.BeginForm("UpLoad", "MemCard", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
        <input id="file" name="file" type="file" accept="xlxs" />
                <input type="submit" name="Upload" value="导入Excel" />
    }
</body>
</html>
