@model MPMS.Models.Shops

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditAdmin</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //分配管理员按钮的点击事件
            $("#btnAllocation").click(function () {
                var uLoginName = $("#U_LoginName").val();
                var sId = $("#S_ID").val();
                if (uLoginName == "") {
                    alert("用户名不能为空！")
                    return;
                }

                $.ajax({   //给店铺添加一个管理员信息
                    url: "/User/CreateManage",
                    data: {
                        U_LoginName: uLoginName,
                        S_ID: sId
                    },
                    type: "post",
                    dataType: "html",
                    success: function (data) {
                        if (data == "OK") {
                            alert("操作成功！");
                            $.ajax({   //更新当前店铺是否分配管理员
                                url: "/Shop/EditAdmin",
                                data: { S_ID: sId },
                                type: "post",
                                dataType: "html",
                                success: function (data) {
                                    if (data == "OK") {
                                        window.parent.$("#dlg").dialog("close");
                                        window.parent.$("#ShopInfo").datagrid("reload");
                                    }
                                }, errorr: function () {
                                    alert("链接超时！");
                                }
                            });
                        }
                        else {
                            alert("用户名已存在！");
                            return;
                        }
                    }, errorr: function () {
                        alert("链接超时！");
                    }
                });
            });
        });
    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.S_ID)
            <table style="font-size: 12px;" align="center">
                <tr>
                    <td>
                        用户名：
                    </td>
                    <td>
                        <input id="U_LoginName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input id="btnAllocation" type="button" value="分配店长账号" />
                    </td>
                </tr>
                <tr>
                    <td style="color:red">账号默认密码为：</td>
                    <td style="color:red">123456</td>
                </tr>
            </table>
        </div>
    }
</body>

</html>
